body {
  /* background-color: #f3e9de; */
  display: grid;
  font-family: "Quicksand", sans-serif;
  /* color: #56536a; */
  background-color: #faf4ec;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 100vh;
}
/* .take-notes {
  /* display: inline-flex; */
  /* display: grid;
  font-family: "Quicksand", sans-serif;
  color: #56536a;
  background-color: #faf4ec; */
  /* flex-direction: column; */
  
/* } */ 
