body {
  background-color: #f3e9de;
}
.take-notes {
  /* display: inline-flex; */
  display: inline-grid;
  font-family: "Quicksand", sans-serif;
  color: #56536a;
  background-color: #faf4ec;
  /* flex-direction: column; */
  
}
